<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile=".\logs\internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->

  <variable name="fileLayout" value="${lowercase:${level}}|${longdate}:${newline}
caller:    ${callsite}${newline}
message:   ${message}${newline}
exception: ${exception:format=tostring,Data:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n"/>

  <variable name="consoleLayout" value="${lowercase:${level}}: ${callsite}
${message}${newline}
${exception:format=tostring,Data:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n"/>

  <targets>

    <target
      xsi:type="ColoredConsole"
      useDefaultRowHighlightingRules="false"
      name="console"
      layout="${consoleLayout}"
    >
      <highlight-row backgroundColor="Black" Condition="LogLevel.Fatal" foregroundColor="White"></highlight-row>
      <highlight-row backgroundColor="Black" Condition="LogLevel.Error" foregroundColor="White"></highlight-row>
      <highlight-row backgroundColor="Black" Condition="LogLevel.Warn" foregroundColor="White"></highlight-row>
      <highlight-row backgroundColor="Black" Condition="LogLevel.Info" foregroundColor="White"></highlight-row>
      <highlight-row backgroundColor="Black" Condition="LogLevel.Debug" foregroundColor="White"></highlight-row>
      <highlight-row backgroundColor="Black" Condition="LogLevel.Trace" foregroundColor="White"></highlight-row>

      <highlight-word foregroundColor="White" ignoreCase="true" regex="^debug"></highlight-word>
      <highlight-word foregroundColor="White" ignoreCase="true" regex="^trace"></highlight-word>
      <highlight-word foregroundColor="DarkGreen" ignoreCase="true" regex="^info"></highlight-word>
      <highlight-word foregroundColor="Yellow" ignoreCase="true" regex="^warn"></highlight-word>
      <highlight-word foregroundColor="Red" ignoreCase="true" regex="^error"></highlight-word>
      <highlight-word foregroundColor="White" backgroundColor="Red" ignoreCase="true" regex="^critical"></highlight-word>
      <highlight-word foregroundColor="Black" backgroundColor="Red" ignoreCase="true" regex="^fatal|^fail"></highlight-word>
    </target>

    <!-- write logs to file  -->
    <target
      xsi:type="File"
      name="ASPNETCoreFile"
      fileName="${basedir}\logs\${shortdate}\ASPNETCore.log"
      createDirs= "true"
      layout="${fileLayout}"
      archiveFileName="${basedir}/logs/archives/ASPNETCore.{#}.log"
      archiveNumbering="Date"
      archiveEvery="Day"
      archiveDateFormat="yyyyMMdd"
      keepFileOpen="true"
      openFileCacheTimeout = "30"
      maxArchiveFiles="7"
      />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--trace inforamtion for debugging-->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!--All logs, including from Microsoft: decomment line below if you want to log all informations-->
    <!--<logger name="*" minlevel="Trace" writeTo="fullfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->

    <logger name="ASPNETCore.*" minlevel="Trace" writeTo="ASPNETCoreFile" />

  </rules>
</nlog>