<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile=".\logs\internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->

  <variable name="layout" value="${lowercase:${level}}:${newline}
- date:      ${longdate}${newline}
- callsite:  ${callsite}${newline}
- message:   ${message}${newline}
- exception: ${exception:format=tostring,Data:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n"/>  
  <targets>

    <target
      xsi:type="ColoredConsole"
      useDefaultRowHighlightingRules="true"
      name="console"
      layout="${layout}"
    />

    <!-- write logs to file  -->
    <target
      xsi:type="File"
      name="ASPNETCoreFile"
      fileName="${basedir}\logs\${shortdate}\ASPNETCore.log"
      createDirs= "true"
      layout="${layout}"
      archiveFileName="${basedir}/logs/archives/full.{#}.log"
      archiveNumbering="Date"
      archiveEvery="Day"
      archiveDateFormat="yyyyMMdd"
      keepFileOpen="true"
      openFileCacheTimeout = "30"
      maxArchiveFiles="7"
      />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--trace inforamtion for debugging-->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!--All logs, including from Microsoft: decomment line below if you want to log all informations-->
    <!--<logger name="*" minlevel="Trace" writeTo="fullfile" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->

    <logger name="ASPNETCore.*" minlevel="Trace" writeTo="ASPNETCoreFile" />

  </rules>
</nlog>